[user]
    name = yangsl
    email = 3242809681@qq.com
[init]
    defaultBranch = main
[credential]
    helper = cache --timeout 30000
[pull]
    rebase = false
[core]
    quotepath = false
[help]
    autocorrect = 1

