# tab 补全忽略大小写
# https://blog.csdn.net/lianshaohua/article/details/108710098

# do not show hidden files in the list 
set match-hidden-files off
   
# auto complete ignoring case 
set show-all-if-ambiguous on 
set completion-ignore-case on 

